* {
    transition: all 1s;
}

[data-bs-theme=light]{
    --bs-body-bg: var(--bs-light);
    --bs-header-bg: #00000096;
    --bs-heading-color: var(--bs-white);
    --bs-content-bg: rgb(255, 255, 255);
}

[data-bs-theme=dark]{
    --bs-header-bg: #ffffff96;
  
}

footer{
    background-color: var(--bs-header-bg);
}